html {
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
    font-family: 'IBM Plex Mono', monospace;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

.welcome {
    background-color: black;
    text-align: center;
    border-top: 10px solid blue;
    border-bottom:10px solid darkolivegreen;
    border-left: 10px solid crimson;
    border-right: 10px solid darkmagenta;
    border-radius: 1em 4em 1em 4em;
    padding: 30px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 13%;
}

.container {
    width: 100%;
    height: 100vh;
    position:relative;
    overflow: hidden;
    align-items: center;
}

h1 {
    color: white;
    font-size: 45px;
}

h3 {
    color: white;
    font-style: italic;
    font-size: 23px;
}

p {
    color: white;
    font-style: italic;
    font-size: 20px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: rgb(0, 0, 0);
}

nav::after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    font-size: 20px;
    text-shadow: 3px 3px 5px rgb(197, 21, 241);
    color: white;
    margin: 15px;
    padding: 3px;
}

.project-heading {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: crimson;
    margin: 0 auto;
    text-shadow: 5px 5px 5px black;
}

#projects {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px 500px;
    column-gap: 50px;
    row-gap: 100px;
    text-align: center;
    width: 100%;
    justify-content: center;
    background-color: rgb(24, 24, 24);
    padding-top: 50px;
    margin: 0 auto;
}

#project-tile {
    padding-top: 18px;
}

.image {
    width: 450px;
    border-top: 3px solid blue;
    border-left: 3px solid crimson;
    border-bottom: 3px solid darkolivegreen;
    border-right: 3px solid darkviolet;
    border-radius: 10px;
    margin-bottom: 10px;;
}

#projects::after {
    display: table;
    content: "";
    clear: both;
}

.view-all {
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    display: inline-block;
    border-top: 1px solid blue;
    border-left: 1px solid crimson;
    border-bottom: 2px solid darkolivegreen;
    border-right: 2px solid darkviolet;
}

.button {
    text-align: center;
    background-color: rgb(24, 24, 24);
    padding-bottom: 50px;
}

footer {
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 70px;
    align-items: center;
    text-align: center;
    border-top: 3px solid crimson;
}

footer.link-container {
    align-items: center;
}